<h2>
    List of Products
</h2>

<div>
    <label for="txtFilter">Filter By: &nbsp;</label>
    <input type="text" id="txtFilter" value="{{filterText}}" (keyup)="updateFilterText(filter.value)" #filter>
</div>

<br>

<table>
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Rating</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of productRecords|filterproduct:filterText">
            <td>
                <img src="{{p.imageUrl}}" alt="NA">
            </td>
            <td>{{p.productName|uppercase}}</td>
            <td>{{p.price|currency:'INR'}}</td>
            <td>{{p.starRating}}</td>
            <td>
                <button type="button" class="button-alert">Delete</button>
            </td>
        </tr>
    </tbody>
</table>