<div class="container container-fluid main-margin">
    <h2 class="text-dark">
        List of Products
    </h2>

    <!-- <div class="md-4">
        <label for="txtFilter">Filter By: &nbsp;</label>
        <input type="text" id="txtFilter" [value]="filterText" (keyup)="updateFilterText(filter.value)" #filter>
    </div> -->
    <app-filter (filterDataChanged)="updateFilterText($event)"></app-filter>

    <br>

    <ng-template #completeTemplate>
        <span>Loading...please wait</span>
    </ng-template>

    <ng-template #errorTemplate>
        <span>{{errorMessage}}</span>
    </ng-template>

    <ng-template #nodataTemplate>
        <span>No record found</span>
    </ng-template>

    <div *ngIf="isComplete;else completeTemplate">
        <div *ngIf="errorMessage=='';else errorTemplate">
            <table class="table table-hover" *ngIf="productRecords && productRecords.length>0;else nodataTemplate">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Rating</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody class="table-primary">
                    <tr *ngFor="let p of productRecords|filterproduct:filterText">
                        <td>
                            <div [routerLink]="['/products','view',p.productId]">
                                <img src="{{p.imageUrl}}" alt="NA" class="img img-responsive">
                            </div>
                        </td>
                        <td>
                            <div [routerLink]="['/products','update',p.productId]">
                                {{p.productName|uppercase}}
                            </div>
                        </td>
                        <td>{{p.price|currency:'INR'}}</td>
                        <td>
                            <app-star [rating]="p.starRating"></app-star>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>